@keyframes fadeSlideUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  .title {
    color: red;
    animation: fadeSlideUp 1s ease-in-out forwards;
  }
  
  
  .aboutback {
    background-image: url(../../public/about.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin-top: -60px;
    animation: fadeSlideUp 1.5s ease-in-out forwards;
  }
  
  .para {
    margin-top: 150px;
    margin-left: 400px;
    margin-right: 300px;
    color: red;
    animation: fadeSlideUp 2s ease-in-out forwards;
  }
  